* {
  border: 1px solid red; }

.container {
  max-width: 900px;
  width: 100%;
  padding: 0; }

.textcontainer {
  max-width: 560px;
  width: 100%; }

.smalltextcontainer {
  max-width: 430px;
  width: 100%; }

.smalltext {
  font-size: 15px;
  font-family: "Lato";
  color: white;
  line-height: 1.933;
  letter-spacing: 0.06ex; }

.bigtext {
  font-size: 50px;
  font-family: "Lato";
  color: white;
  font-weight: bold;
  letter-spacing: 0.32ex; }

body .main {
  max-width: 1920px;
  width: 100%; }
  body .main .header {
    background-image: url("http://i68.tinypic.com/2vijwbl.png");
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    height: 1070px; }
    body .main .header .eclipse {
      display: block;
      margin: 0 auto;
      margin-top: 280px; }
    body .main .header p {
      display: block;
      margin: 0 auto;
      margin-top: 50px;
      text-align: center;
      text-transform: uppercase; }
    body .main .header a > img {
      display: block;
      margin: 0 auto;
      margin-top: 240px;
      transition: 1s; }
    body .main .header a > img:hover {
      transform: rotate(360deg); }
  body .main .aboutus .quadro {
    border-style: solid;
    border-width: 0 3px 3px 3px;
    margin: 160px 0;
    padding-bottom: 60px;
    text-align: center;
    position: relative; }
    body .main .aboutus .quadro h1 {
      text-transform: uppercase;
      display: inline-block;
      font-size: 55.94px;
      font-family: "Lato";
      position: relative;
      top: -30px; }
    body .main .aboutus .quadro h1:before {
      content: "";
      position: absolute;
      height: 0px;
      border-bottom: 3px solid black;
      top: 30px;
      width: 215px;
      right: 130%;
      margin-right: 15px; }
    body .main .aboutus .quadro h1:after {
      content: "";
      position: absolute;
      height: 0px;
      border-bottom: 3px solid black;
      top: 30px;
      width: 215px;
      left: 130%;
      margin-left: 15px; }
    body .main .aboutus .quadro p {
      display: block;
      margin: 0 auto;
      margin-top: 50px;
      text-align: center; }
  body .main .service {
    background-image: url("http://i63.tinypic.com/2u93lht.png");
    overflow-x: hidden;
    background-size: cover;
    background-position: center; }
    body .main .service .quadro {
      border-style: solid;
      border-color: white;
      border-width: 0 3px 3px 3px;
      margin: 120px 0 110px 0;
      padding-bottom: 60px;
      text-align: center;
      position: relative; }
      body .main .service .quadro h1 {
        text-transform: uppercase;
        display: inline-block;
        font-size: 55.94px;
        font-family: "Lato";
        position: relative;
        top: -30px;
        color: white; }
      body .main .service .quadro h1:before {
        content: "";
        position: absolute;
        height: 0px;
        border-bottom: 3px solid white;
        top: 30px;
        width: 230px;
        right: 130%;
        margin-right: 15px; }
      body .main .service .quadro h1:after {
        content: "";
        position: absolute;
        height: 0px;
        border-bottom: 3px solid white;
        top: 30px;
        width: 230px;
        left: 130%;
        margin-left: 15px; }
      body .main .service .quadro p {
        display: block;
        margin: 0 auto;
        text-align: center;
        color: white; }
  body .main .whatwedo .quadro {
    border-style: solid;
    border-width: 0 3px 3px 3px;
    margin: 160px 0;
    padding-bottom: 90px;
    text-align: center;
    position: relative; }
    body .main .whatwedo .quadro h1 {
      text-transform: uppercase;
      display: inline-block;
      font-size: 55.94px;
      font-family: "Lato";
      position: relative;
      top: -30px;
      color: black;
      margin-bottom: 0; }
    body .main .whatwedo .quadro h1:before {
      content: "";
      position: absolute;
      height: 0px;
      border-bottom: 3px solid black;
      top: 30px;
      width: 141px;
      right: 130%;
      margin-right: 15px; }
    body .main .whatwedo .quadro h1:after {
      content: "";
      position: absolute;
      height: 0px;
      border-bottom: 3px solid black;
      top: 30px;
      width: 141px;
      left: 130%;
      margin-left: 15px; }
    body .main .whatwedo .quadro a img {
      display: inline-block;
      margin: 0 auto;
      transition: 1s;
      width: 100px; }
    body .main .whatwedo .quadro a img:hover {
      transform: rotate(360deg); }
    body .main .whatwedo .quadro h3 {
      text-align: center;
      margin-top: 40px; }
    body .main .whatwedo .quadro p {
      display: block;
      margin: 0 auto;
      margin-top: 40px;
      text-align: center;
      margin-bottom: 40px; }
  body .main .ourworks .pic1 {
    width: 548px;
    height: 237px;
    display: inline-block;
    background-image: url("http://i64.tinypic.com/2ef0vwm.png"); }
  body .main .ourworks .pic2 {
    width: 802px;
    height: 237px;
    display: inline-block;
    background-image: url("http://i63.tinypic.com/4joysl.png"); }
  body .main .ourworks .pic3 {
    width: 550px;
    height: 237px;
    display: inline-block;
    background-image: url("http://i67.tinypic.com/dn28w4.png"); }
  body .main .ourworks .pic4 {
    width: 548px;
    height: 237px;
    display: inline-block;
    background-image: url("http://i66.tinypic.com/10cuigx.png"); }
  body .main .ourworks .pic5 {
    width: 802px;
    height: 237px;
    display: inline-block;
    background-image: url("http://i68.tinypic.com/x8vvc.png"); }
  body .main .ourworks .pic6 {
    width: 550px;
    height: 237px;
    display: inline-block;
    background-image: url("http://i68.tinypic.com/14t1z01.png"); }
  body .main .contactus .quadro {
    border-style: solid;
    border-width: 0 3px 3px 3px;
    margin: 160px 0 40px 0;
    padding-bottom: 60px;
    text-align: center;
    position: relative; }
    body .main .contactus .quadro h1 {
      text-transform: uppercase;
      display: inline-block;
      font-size: 55.94px;
      font-family: "Lato";
      position: relative;
      top: -30px; }
    body .main .contactus .quadro h1:before {
      content: "";
      position: absolute;
      height: 0px;
      border-bottom: 3px solid black;
      top: 30px;
      width: 160px;
      right: 130%;
      margin-right: 15px; }
    body .main .contactus .quadro h1:after {
      content: "";
      position: absolute;
      height: 0px;
      border-bottom: 3px solid black;
      top: 30px;
      width: 160px;
      left: 130%;
      margin-left: 15px; }
    body .main .contactus .quadro p {
      display: block;
      margin: 0 auto;
      text-align: center; }
    body .main .contactus .quadro .buttonContact {
      background-color: #3c3c3c;
      border: none;
      text-align: center;
      border-radius: 0;
      margin-top: 50px;
      width: 400px;
      height: 40px; }
  body .main .footer {
    text-align: center;
    margin-bottom: 40px; }
    body .main .footer img {
      margin-right: 30px; }

@media (max-width: 766px) {
  body .textcontainer {
    max-width: 240px;
    width: 100%; }
  body .smalltextcontainer {
    max-width: 180px;
    width: 100%; }
  body .smalltext {
    font-size: 12px; }
  body .bigtext {
    font-size: 15px; }
  body .main .header {
    height: 100vh; }
    body .main .header .eclipse {
      margin-top: 5px; }
    body .main .header p {
      margin-top: 5px; }
    body .main .header a > img {
      margin-top: 5px; } }
@media (min-width: 768px) and (max-width: 991px) {
  body .main .header {
    height: 400px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  body .main .header {
    height: 600px; } }

/*# sourceMappingURL=style.css.map */
