.container {
  max-width: 900px;
  width: 100%;
  padding: 0; }

.textcontainer {
  max-width: 560px;
  width: 100%; }

.smalltextcontainer {
  max-width: 430px;
  width: 100%; }

.smalltext {
  font-size: 15px;
  font-family: "Lato";
  color: white;
  line-height: 1.933;
  letter-spacing: 0.06ex; }

.bigtext {
  font-size: 50px;
  font-family: "Lato";
  color: white;
  font-weight: bold;
  letter-spacing: 0.32ex; }

body .main {
  max-width: 1920px;
  width: 100%; }
  body .main .header {
    background-image: url("http://i68.tinypic.com/2vijwbl.png");
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    height: 1070px; }
    body .main .header .eclipse {
      display: block;
      margin: 0 auto;
      margin-top: 280px; }
    body .main .header p {
      display: block;
      margin: 0 auto;
      margin-top: 50px;
      text-align: center;
      text-transform: uppercase; }
    body .main .header a > img {
      display: block;
      margin: 0 auto;
      margin-top: 240px;
      transition: 1s; }
    body .main .header a > img:hover {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); }
  body .main .aboutus .quadro {
    border: 2px solid black;
    margin: 160px 0;
    padding-bottom: 60px; }
    body .main .aboutus .quadro h1 {
      font-size: 55.94px;
      font-family: "Lato";
      color: #3c3c3c;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      width: 420px;
      margin: 0 auto;
      position: relative;
      top: -40px;
      background-color: white; }
    body .main .aboutus .quadro p {
      display: block;
      margin: 0 auto;
      margin-top: 50px;
      text-align: center; }
  body .main .service {
    background-image: url("http://i63.tinypic.com/2u93lht.png");
    overflow-x: hidden;
    background-size: cover;
    background-position: center; }
    body .main .service .quadro {
      border: 2px solid white;
      margin: 120px 0 110px 0;
      padding-bottom: 60px; }
      body .main .service .quadro h1 {
        font-size: 55.94px;
        font-family: "Lato";
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        width: 420px;
        margin: 0 auto;
        position: relative;
        top: -40px;
        background-image: url("http://i63.tinypic.com/2u93lht.png");
        background-size: 1920px 490px;
        background-position-x: 50%;
        background-position-y: 20%; }
      body .main .service .quadro p {
        display: block;
        margin: 0 auto;
        text-align: center;
        color: white; }
  body .main .whatwedo .quadro {
    border: 2px solid black;
    margin: 160px 0;
    padding-bottom: 90px; }
    body .main .whatwedo .quadro h1 {
      font-size: 55.94px;
      font-family: "Lato";
      color: black;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      width: 420px;
      margin: 0 auto;
      position: relative;
      top: -40px;
      background-color: white; }
    body .main .whatwedo .quadro a > img {
      display: block;
      margin: 0 auto;
      transition: 1s;
      width: 100px;
      margin-top: 100px; }
    body .main .whatwedo .quadro a > img:hover {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); }
    body .main .whatwedo .quadro h3 {
      text-align: center;
      margin-top: 40px; }
    body .main .whatwedo .quadro p {
      display: block;
      margin: 0 auto;
      margin-top: 40px;
      text-align: center; }
  body .main .ourworks .pic1 {
    width: 548px;
    height: 237px;
    display: inline-block;
    background-image: url("http://i64.tinypic.com/2ef0vwm.png"); }
  body .main .ourworks .pic2 {
    width: 802px;
    height: 237px;
    display: inline-block;
    background-image: url("http://i63.tinypic.com/4joysl.png"); }
  body .main .ourworks .pic3 {
    width: 550px;
    height: 237px;
    display: inline-block;
    background-image: url("http://i67.tinypic.com/dn28w4.png"); }
  body .main .ourworks .pic4 {
    width: 548px;
    height: 237px;
    display: inline-block;
    background-image: url("http://i66.tinypic.com/10cuigx.png"); }
  body .main .ourworks .pic5 {
    width: 802px;
    height: 237px;
    display: inline-block;
    background-image: url("http://i68.tinypic.com/x8vvc.png"); }
  body .main .ourworks .pic6 {
    width: 550px;
    height: 237px;
    display: inline-block;
    background-image: url("http://i68.tinypic.com/14t1z01.png"); }

/*# sourceMappingURL=style.prefixed.css.map */