* {
	border: 1px solid red;	

	// border: 1px solid green;
}
.container {
	max-width: 900px;
	width: 100%;
	padding: 0;
}
.textcontainer {
	max-width: 560px;
	width: 100%;
}
.smalltextcontainer {
	max-width: 430px;
	width: 100%;
}
.smalltext {
  font-size: 15px;
  font-family: "Lato";
  color: rgb( 255, 255, 255 );
  line-height: 1.933;
  letter-spacing: 0.06ex;
}
.bigtext {
	font-size: 50px;
  	font-family: "Lato";
  	color: rgb( 255, 255, 255 );
  	font-weight: bold;
  	letter-spacing: 0.32ex;
}
body {
	.main {
		max-width: 1920px;
		width: 100%;
		.header {
			background-image: url("http://i68.tinypic.com/2vijwbl.png");
			overflow-x: hidden;
			background-size: cover;
			background-position: center;
			height: 1070px;
			.eclipse {
				display: block;
				margin: 0 auto;
				margin-top: 280px;
			}
			p {
				display: block;
				margin: 0 auto;
				margin-top: 50px;
				text-align: center;
				text-transform: uppercase;
			}
			a > img {
				display: block;
				margin: 0 auto;
				margin-top: 240px;
				transition: 1s;
			}
			a > img:hover  {
				transform: rotate(360deg);
			}
		}
		.aboutus {
			.quadro {
				border: 2px solid black;
				margin: 160px 0;
				padding-bottom: 60px;
				h1 {
					font-size: 55.94px;
					font-family: "Lato";
					color: rgb( 60, 60, 60 );
					font-weight: bold;
					text-transform: uppercase;
					text-align: center;
					width: 420px;
					margin: 0 auto;
					position: relative;
					top: -40px;
					background-color: white;
				}
				p {
					display: block;
					margin: 0 auto;
					margin-top: 50px;
					text-align: center;
				}
			}
		}
		.service {
			background-image: url("http://i63.tinypic.com/2u93lht.png");
			overflow-x: hidden;
			background-size: cover;
			background-position: center;
			.quadro {
				border: 2px solid white;
				margin: 120px 0 110px 0;
				padding-bottom: 60px;
				h1 {
					font-size: 55.94px;
					font-family: "Lato";
					color: white;
					font-weight: bold;
					text-transform: uppercase;
					text-align: center;
					width: 420px;
					margin: 0 auto;
					position: relative;
					top: -40px;
					background-image: url("http://i63.tinypic.com/2u93lht.png");
					background-size: 1920px 490px;
					background-position-x: 50%;
					background-position-y: 20%;
					
				}
				p {
					display: block;
					margin: 0 auto;
					text-align: center;
					color: white;
				}
			}
		}
		.whatwedo {
			.quadro {
				border: 2px solid black;
				margin: 160px 0;
				padding-bottom: 90px;
				h1 {
					font-size: 55.94px;
					font-family: "Lato";
					color: black;
					font-weight: bold;
					text-transform: uppercase;
					text-align: center;
					width: 420px;
					margin: 0 auto;
					position: relative;
					top: -40px;
					background-color: white;	
				}
				a > img {
					display: block;
					margin: 0 auto;
					transition: 1s;
					width: 100px;
					margin-top: 100px;
				}
				a > img:hover  {
					transform: rotate(360deg);
				}
				h3 {
					text-align: center;
					margin-top: 40px;
				}
				p {
					display: block;
					margin: 0 auto;
					margin-top: 40px;
					text-align: center;
				}
			}
		}

	}
}